## Basic Python Programming 

The aim of this notebook it to get your familiar with basic programming opertaions in python

### Arithmetic

More info: (http://bit.ly/2dB0bk3)

In [ ]:
# variable assignment
# we can assign values to variables
x = 1
print(x)

In [ ]:
# addition
# we can add numbers up
print(2+3)
# for variables we can do the same 
x = 2
y = 3
z = x + y
print(z)

In [ ]:
# multiplication
# we can multiply numbers together
print(2*3)
x = 2
y = 3
x = x * y
print(z)

In [ ]:
# division
# we can divide numbers
print(5/2)
# we can do integer division
# this rounds down the output to the nearest integer
print(14//3)
# we can do modular division
# this prints the remainder of the division operartion
print(14%3)
# 12 divides by 3
print(12%3)

In [ ]:
# exponents
# we can raise a number to the power of 2
print(4**2)
# we can raise a number to the power of x
x= 5
print(2**x)

In [ ]:
# other useful operations
# absolute value
print(abs(-3.2))
# minimum
print(min(4,5,6,1))
# maximum
print(max(23,56,34,89))

### Boolean expressions

More info: (http://bit.ly/2cPSdiA)

In [ ]:
# simple expressions
print(2 < 3)
print(2 > 3)
print(2 == 3)
print(2 != 3)
print(2 <= 3)
print(2 >= 3)
print(2+4 == 2*(9/3))

In [ ]:
# logical connectives
print(2 < 3 and 3 < 4)
print(4 == 5 and 3 < 5)
print(False and True)
print(True and True)
print(4 == 5 or 3 < 4)
print(False or True)
print(False or False)
print(not (3 < 4))
print(not True)
print(not False)
print(4 + 1 == 5 or 4 - 1 < 4)

## Exercises

Compute the following with python code:

``` a) The difference between Annie’s age (25) and 
Ellie’s (21).
 b) The total of $14.99, $27.95, and $19.83.
 c) The area of a rectangle of length 20 and width 
15.
 d) 2 to the 10th power.
 e) The minimum of 3, 1, 8, -2, 5, -3, and 0.
 f) 3 equals 4-2.
 g) The value of 17//5 is 3.
 h) The value of 17%5 is 3.
 i) 284 is even.
 j) 284 is even and 284 is divisible by 3.
 k) 284 is even o84 is div```isible by 3.ible by 3.

### Variable Assinments and Types

We consider the three most important types:
- ```int``` - an integer which is a number without decimal places.
- ```float``` - a real value which is a number with decimal places.
- ```bool``` - a boolean value which has value either ```True``` or ```False```

More info: (http://bit.ly/2dOZkKg)

In [ ]:
# we can assign values to variables as before
x = 4 # x has type int
y = 0.5 # y has type float
z = x == y # z has type bool
print(x)
print(y)
print(z)
y = 1
z = x / y # division always returns a float
print(z)
z = y + x # int + int returns int
print(z)
y = 1.0
z = x + y # int + float returns float
print(z)

#### Strings

More info: (http://bit.ly/2dbk8ur)

In [ ]:
# strings
# we can define a string using single or double quotation marks
print('Hello world')
print("Hello world")
# we can assing a variable a string value
my_string = "Hello"
print(my_string)

In [ ]:
# string operartions
s = 'rock'
t = 'climbing'
print(s == 'rock')
print(s != t)
print(s < t) # does s come before t in alphanumeric ordering
print(s > t) # does s come after t in alphanumeric ordering
print(s + t)
print(s + ' ' + t)
print(5*s)
print(30 * '_')
print('o' in s) # is the subsrting 'o' in s
print('bi' in t) # is the substring 'bi' in t
print(len(t)) # what is the length of t

## Exercises

```Write Python expressions involving 
strings s1, s2, and s3 that 
correspond to:
 a) 'll' appears in s3
 b) the blank space does not 
appear in s1
 c) the concatenation of s1, s2, 
and s3
 d) the blank space appears in the 
concatenation of s1, s2, and 
s3
 e) the concatenation of 10 copies 
of s3
 f) the total number of characters 
in the concaation of s1```, s2, 
and s3.

In [ ]:
s1 = 'good'
s2 = 'bad'
s3 = 'silly'

### Indexing

In [ ]:
s = 'Apple'
print(s[0]) # the 1st character of s
print(s[1]) # the 2nd character of s
print(s[-1]) # the last character of s
print(s[-2]) # the 2nd last character of s

## Exercise

```String s is defined to be
 'abcdefgh'
 Write expressions using s and the 
indexing operator [] that return the 
following strings:
 a) 'a'
 b) 'c'
 c) 'h'
 d) 'f'```

In [ ]:
s = 'abcdefgh'

### Lists

More info: (http://bit.ly/2dbjPQf) and (http:// bit.ly/2dGxhRk)

In [ ]:
# lists can be lists of integers, booleans, strings, floats
pets = ['ant', 'bat', 'cod', 'dog', 'elk']
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
bools = [True, False, True, False, False, False]
vals = [1.0, 3.4, 5.2, 1.3, 0.5, -3.2]

In [ ]:
# you can define lists of different types
lst = [0, 1, 'two', 'three', [4, 'five']]
print(lst[0])
print(lst[-1])
print('two' in lst)
print('five' in lst)
print('five' in lst[-1])

In [ ]:
# list operations
print('ant' in pets)
print('cod' not in pets)
print(nums + vals)
print(nums*3)
print(min(vals))
print(max(nums))
print(sum(vals))
print(sum(bools))

In [ ]:
# lists are mutable strings are not!!!
pets = ['ant', 'bat', 'cod', 'dog', 'elk']
print(pets)
pets[1] = 'cat'
print(pets)
pet = pets[-1]
print(pet)
pet[2]='m'
print(pet)

In [ ]:
# list methods
print(nums)
nums.append(11) # append 11 to the end of a list
print(nums)
print(bools.count(False)) # count the number of occurences of False in a list
print(bools.index(False)) # find the index of the first occurrence of False in a list
print(nums.pop()) # removes and returns the last index of a list
print(nums)
vals.remove(1.0) # removes the first occurrence of 1.0 in a list
print(vals)
vals.reverse() # reverses the order of a list
print(vals)
vals.sort() # sorts a list
print(vals)

## Exercises

```
List lst is a list of prices for a pair of boots at different online retailers 

a) You found another retailer selling the 
boots for $160.00; add this price to list 
lst
 b) Compute the number of retailers 
selling the boots for $160.00
 c) Find the minimum price in lst
 d) Using c), find the index of the 
minimum price in list lst  
e) Using c) remove the minimum price 
from list lst
 f) Sort list lst in increasing order

In [ ]:
lst = [159.99, 160.00, 205.95, 128.83, 175.49]

### Objects and classes

In Python every value and variable wther a simple integer like 3 or a complex list is sorted in memory as an object.ct.ct.ct.

In [ ]:
# we can print the type of an object
a = 3
b = 3.0
c = 'three'
d = [1, 2, 3]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
# we can convert one type to another 
a = 3.0
b = '89'
print(str(a))
print(int(a))
print(int(b))
print(float(b))
print(list(b))

### Python standard library and math module

In [ ]:
# we need to import the math module
import math
print(math.sqrt(2.0)) # square root of 4
print(math.cos(0)) # cosine of 0
print(math.log(8)) # natural logarithm of 8
print(math.log(8, 2)) # log of 8 base 2
print(math.pi) # pi
print(math.e)
print(math.log(math.e))

## Exercises

``` Write a Python expression that assigns 
to variable c
 a) The length of the hypotenuse in a 
right triangle whose other two sides 
have lengths 3 and 4
 b) The value of the Boolean expression 
that evaluates whether the length 
of the above hypotenuse is 5
 c) The area of a disk of radius 10
 d) The value of the Boolean expression 
that checks whether a point with 
coordinates (5, 5) is inside a circle 
with cer (0,0) a```nd radius 7.

In [ ]:
c = 0
print(c)

## Need more?

Try one of these:
-  The official Python pages: http://bit.ly/2dNVmFG - • Learn Python the Hard Way book: http://bit.ly/2dFjCER (Python 2.7-  • A Byte of Python book: http://bit.ly/2dsnJ9- 
• Try out the Codecademy course: http://bit.ly/2cPCG7s (Python 2- 
 • Or a video series on YouTube: http://bit.ly/2dXg4d - 11
 • Need a different approach? Why not work through the Camridge 
Engineering tutorial alongsi e these slides: http://bit.ly/2dsnZFg Pytho- 
2.7)
 • Or try a Python-based game: CheckIO (http://bit.ly/2dNWokT) r Empire 
of Code (http://bit.ly/2dXMwnT).ly/2dXMwnT)